Lab1

Ex1

In [1]:
print("Yergeldi\nEmail:Zhanibekov_02@mail.ru" )

Yergeldi
Email:Zhanibekov_02@mail.ru

Ex2

In [5]:
name = input("Enter ur name: ")
print("Hello, "+name)

Enter ur name: Yeroma
Hello, Yeroma

Ex3

In [3]:
l = int(input("Length of the room: "))
w = int(input("Width of the room: "))
print("Area is "+str(w*l)+" meters")

Length of the room: 12
Width of the room: 12
Area is 144 meters

Ex4

In [4]:
l = int(input("Length of the farm: "))
w = int(input("Width of the farm: "))
print("Farm is {:.4f} acres".format((l*w/43560)))

Length of the farm: 12
Width of the farm: 12
Farm is 0.0033 acres

Ex5

In [6]:
less = int(input("less or equals 1l :"))
more = int(input("more 1l :"))
print("Total:{:.2f}".format(less*0.1 + more*0.25,1))

less or equals 1l :123
more 1l :123
Total:43.05

Ex6

In [16]:
money_f = float(input("Price of foods: "))
tip = money_f * 0.18
tax = money_f * 0.1
print("Total money:",round(money_f+tip+tax,2))

Price of foods: 100
Total money: 128.0

Ex7

In [18]:
n = int(input("Enter n: "))
print("Sum from 1 to n: ",(n+1)*n/2)

Enter n: 10
Sum from 1 to n:  55.0

Ex8

In [20]:
w,g = map(int, input().split())
print("Total:",w*75+g*112,"grams")

1 2
Total: 299 grams

Ex9

In [7]:
b_s = int(input())
i = 0.04
for f in range(3):
    b_s*=(1+i)
    print(f+1, "{:.2f}".format(b_s))

100
1 104.00
2 108.16
3 112.49

Ex10

In [27]:
import math
a,b = map(int,input().split())
print("Sum:",a+b,"\nDif b - a:",b-a,"\nProduct:",a*b,"\nQuotient:",a/b,"\nReminder:",a%b,"\nlog10 of a:",math.log10(a),"\nConcetetion:",str(a)+str(b))

12 12
Sum: 24
Dif b - a: 0
Product: 144
Quotient: 1.0
Reminder: 0
log10 of a: 1.0791812460476249
Concetetion: 1212

Ex11

In [29]:
OneMilPerKm = 1.609
OneGalomPerLitr = 4.55
i = float(input("Enter MPG:"))
print("L/100km:",i*OneGalomPerLitr/(OneMilPerKm*100))

Enter MPG:100
L/100km: 2.8278433809819763

Ex12

In [33]:
t1,g1,t2,g2 = map(int, input().split())
rad = 180/math.pi
print("distance:",6371*math.acos(math.sin(t1*rad)*math.sin(t2*rad)+math.cos(t1*rad)*math.cos(t2*rad)*math.cos((g1-g2)*rad)))

100 0 500 0
distance: 17508.752627112786

Ex13

In [52]:
#1 5 10 25 100 200
sd = [1,5,10,25,100,200]
money = int(input())
F = [0]
INF = 1e9
for i in range(1,money+1):
    F.append(INF)
    for j in sd:
        if(j<=i and F[i-j]+1<F[i]): F[i] = F[i-j]+1
if(F[money] == INF): print("It's imp")
else:
    while(money):
        for i in sd[::-1]:
            if(money>=i and F[money-i]+1 == F[money]):
                print(i,end=" ")
                money-=i
                break

65
25 25 10 5

Ex14

In [57]:
f, i = map(int,input().split())
print("cm=",(f*12+i)*2.54)

1 1
cm= 33.02

Ex15

In [59]:
f = int(input())
print("inch:",f*12,"\nyards:",f/3,"\nmiles:",f/5280)

12312
inch: 147744
yards: 4104.0
miles: 2.331818181818182

Ex16

In [61]:
r = float(input("radius: "))
print("Area:",math.pi*r*r,"\nVolume:",4*math.pi*r*r*r/3)

radius: 1
Area: 3.141592653589793
Volume: 4.1887902047863905

Ex17

In [62]:
m,t = map(int,input("mass and temp").split())
c = 4.186
q = m*c*t
CentPerKw = 8.9
print("q =",q,"J\nCost of boiling water:",q*CentPerKw/(60*60))

mass and temp1 20
q = 83.72 J
Cost of boiling water: 0.20697444444444446

Ex18

In [9]:
import math
r,h = map(float,input("radius,height:").split())
print("Volume:{:.1f}".format(math.pi*r*r*h))

radius,height:121 2
Volume:91992.1

Ex19

In [74]:
g = 9.8
h = float(input())
print("vf =","{:.2f}".format(math.sqrt((2*9.8*h))))

12
vf = 15.34

Ex20

In [76]:
R = 8.314
P,V,T=map(int, input("Pressure,volume,temp").split())
print("n=",P*(V/1000)/(R*T))

Pressure,volume,temp20000000 12 20
n= 1443.348568679336

Ex21

In [78]:
b,h = map(int,input("b,h:").split())
print("Area:",b*h/2)

b,h:12 12
Area: 72.0

Ex22

In [11]:
a,b,c = map(int,input().split())
p = (a+b+c)/2
print(math.sqrt(p*(p-a)*(p-b)*(p-c)))

3 4 5
6.0

Ex23

In [84]:
s,n = map(int,input("s,n:").split())
print("Area:",n*s*s/(4*math.tan(math.pi/n)))

s,n:1 2
Area: 3.061616997868383e-17

Ex24

In [87]:
d,h,m,s = map(int,input().split())
print("Total:",d*60*60*24+h*60*60+m*60+s,"sec")

1 2 3 4
Total: 93784 sec

Ex25

In [5]:
s = int(input())
print("D:HH:MM:SS -",int(s/(60*60*24)),":","{:02}".format(int((s%(60*60*24))/((60*60)))),":","{:02}".format(int((s%((60*60*24)))%((60*60))/((60)))),":","{:02}".format(int((((s%(60*60*24))%((60*60)))%((60)))/(1))))

32452345234
D:HH:MM:SS - 375605 : 20 : 20 : 34

Ex26

In [99]:
import time
print(time.asctime())

'Mon Sep  7 23:08:47 2020'

Ex27

In [108]:
w,h = map(int,input("Weight, height:").split())
print("BMI:",w/(h*h))

Weight, height:67 179
BMI: 0.002091070815517618

Ex28

In [106]:
T, V = map(float,input("Temp, Velocity:").split())
if(T>=10 and V >= 4.8):
    print("WCI=",13.2+0.6215*T-11.37*V**0.16+0.3965*T*V**0.16)
else:
    print("T>=10, V >= 4.8 (deg Celsius, km/h)")

Temp, Velocity:1 1
T>=10, V >= 4.8 (deg Celsius, km/h)

Ex29

In [109]:
C = int(input())
print("F:",(9/5)+32,"K:",c+273)

27
F: 33.8 K: 278

Ex30

In [110]:
P = int(input("Pressure: "))
print("PSI:",P/(6.894757),"\nmmHg:",P/(133.3224/1000),"\nAtm:",P/(101.325))

Pressure: 12321312
PSI: 1787055.294334521
mmHg: 92417418.22829473
Atm: 121601.89489267209

Ex31

In [117]:
s = input()
n = len(s)
res = 0
for i in range(n):
    res+=int(s[i])
print(res)

3141
9

Ex32

In [118]:
a,b,c = map(int,input().split())
print(min(a,b,c),max(min(a,b),min(b,c),min(a,c)),max(a,b,c))

73 12 45
12 45 73

Ex33

In [4]:
n = int(input())
print("Just price: {:.2f}".format(n*3.49),"\ndiscount is 60%: {:.2f}".format(n*3.49*0.6), "\nthen total price: ","{:.2f}".format(n*0.4*3.49))

112
Just price: 390.88
discount is 60%: 234.53
then total price:  156.35